@model IEnumerable<MVCVidly.Models.Movie>

@{
    ViewBag.Title = "Movie List";
}

<h2>Movie List</h2>
<br />
<p>
    @Html.ActionLink("New Movie", "CreateMovie", "Movies", null, new { @class = "btn btn-primary" })
</p>


@*@if (!Model.Any())
{
    <p>No Records Found</p>
}
else
{*@
    <table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                @*<th>Number In Stock</th>*@
                @*<th>Details</th>*@
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var movie in Model)
            {
                //using (Html.BeginForm("Delete", "Movies", new { id = movie.Id }))
                //{
                <tr>
                    <td>@Html.ActionLink(@movie.Name, "Edit", new { id = movie.Id })</td>
                    <td>@movie.Genre.Name</td>
                    <td>@movie.NumberInStock</td>
                    @*<td>
                        @Html.ActionLink("Details", "Details", "Movies", new { id = movie.Id }, new { @class = "btn btn-primary" })
                    </td>*@
                    @*<td>
                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure, Do you want to delete this movie?')" />
                        </td>*@
                    @*<td>
                        <button class="btn btn-danger js-delete" data-movie-id="@movie.Id">Delete</button>
                    </td>*@

                @*</tr>*@

                @*//}*@

            @*}*@

        </tbody>

    </table>
@*}*@

@section scripts
{
    <script>
        $(document).ready(function () {
         var table= $('#movies').DataTable({
                ajax: {
                    url: "/api/Movie",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data,type,movie)
                        {
                            return "<a href='Movies/edit" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data:"name"
                    },
                    //{
                    //    data:"NumberInStock"
                    //},
                    //{
                    //    data: "id",
                    //    render: function(data)
                    //    {
                    //        return "<button class='btn btn-success'>Details</button>";
                    //    }
                    //},
                    {
                        data: "id",
                        render: function(data)
                        {
                            return "<button class='btn btn-danger js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }

                ]
            });
            $('#movies').on("click",".js-delete", function () {
                var button = $(this);

                bootbox.confirm('Are You Sure do you want to delete this Movie record?', function (result) {
                    if (result) {
                         var url = '/api/Movie/' + button.attr('data-movie-id');
                    $.ajax({
                        url: url,
                        method: "DELETE",
                        success: function () {
                            //button.parents('tr').remove();
                            table.row(button.parents('tr')).remove().draw(); 
                        }

                    })
                    }
                })


                //if (confirm('Are you sure, do you want to delete the customer record?')) {
                //    //alert("called");
                   

                //}

            })
        })
    </script>
}





